footer {
    font-size: 1.2em;
    font-family: monospace;
    text-transform: uppercase;
    text-align: center;
    padding: 8px 0;
    width: 100%;
}

footer p {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p > img {
    margin-left: 8px;
}

