#loom-companion-mv3 {
    display: none;
}

.tabela-relatorio {
    font-family: monospace;
    text-transform: uppercase;
    margin: 0 auto;
    border-collapse: collapse;
    border: none;
    font-size: 16px;
    height: 60vh;
    max-width: 100%;
}

.tabela-relatorio tbody > tr > td {
    vertical-align: middle;
    text-align: center;
    white-space: nowrap;
}

.tabela-relatorio tbody > tr > td > a {
    display: inline-block;
    margin: 0 0px;
}

.tabela-relatorio thead tr td{
    background-color: #6495ED;
    color: #fff;
    padding: 4px;
}

.icone-relatorio {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.tabela-relatorio tbody tr, td {
    background-color: #ccdbf6;
}